.carousel{
    visibility:hidden;
   background-color: $darkNavy;
   position: relative;
   width: 100% ;
    margin-top:-120px;
  padding: 50px 0 50px 0;
   &__wrapper{
       width: 100%;
       overflow: hidden;
   }
    @media all and (max-width:$breakpoint-phones){
       padding: 50px 0 40px 0;
    }
}
.swiper-container {
    width: 108%;
    @media all and (max-width:1600px){
        width: 80%;
    }
     @media all and (max-width:$breakpoint-tablets){
        display:block;
        width: 115%;
    }
    @media all and (max-width:$breakpoint-phones){
        display:block;
        width: 150%;
        margin-left:10px;
    }
}
.swiper-slide{
    padding:0;
    position: relative;
    &__description{
        width: 100%;
        position: absolute;
        bottom: 19px;
        padding:0 20px;
   
        &__name{
            font-size: 1.3rem;
            color:#454545;
            margin-bottom: 10px;
        }
        &__price{
            color:$darkNavColor;
            font-size: 1.3rem;
            font-weight: bold;
        }
    }
    img{
        width: 268px;
    }
}
.swiper-button-prev,.swiper-button-next{
    border: 1px solid $lightNavColor !important;
    position: absolute;
    box-shadow: none;
    height:48px;
    width:48px;

    &:after{
        content: '';
    }
    &:hover{
        border: 1px solid $lightNavColor;
        outline:none;
    }
    @media all and (max-width:$breakpoint-tablets){
        display:none;
    }
     
}.swiper-button-prev{
    left: 5%;
    @media all and (max-width:1600px){
        left: 10px;
    }
}.swiper-button-next{
    right:  5%;
    @media all and (max-width:1600px){
        right: 10px;
    }
    
}
.swiper-scrollbar{
    height:10px;
    display: none;
    @media all and (max-width:$breakpoint-tablets){
        display:block;
        margin-top:20px;
    }
}