.recommended{
    &__left{
        text-align:center;
        height: 630px;
        img{
            height: 100%;
            max-width:100%;
            @media all and(max-width:$breakpoint-phones){
                max-width:95%;
            }
        }
    }
    &__right{
        &__upper{
            text-align:center;
            margin-bottom:9px;
            height: 310px;
            img{
               height: 310px;
                max-width:100%;
                @media all and(max-width:$breakpoint-phones){
                    max-width:95%;
                }
            }
            @media all and(max-width:$breakpoint-phones){
                margin-bottom:0px;
            }
        }
        &__down{
            text-align:center;
            width:769px ;
            height: 310px;
            max-width: 100%;
            overflow: hidden;
            img{
                width:100%;
                @media all and(max-width:$breakpoint-phones){
                    max-width:95%;
                }
            }
        }
    }

}