$darkNavColor : #151515;
$lightNavColor : #ffffff;
$darkNavy : #263a49;
$breakpoint-phones: 576px;
$breakpoint-tablets: 768px;
$breakpoint-desktops: 992px;
$breakpoint-large: 1200px;

html{
    font-size: 10px;
}