.scroll-to-top{
    height: 48px;
    width: 48px;
    background-color: #fff;
    position: fixed;
    right: 45px;
    bottom:-100px;
    border-radius: 50%;
    transition: all .3s ease;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,.5);
    cursor:pointer;
    @media all and (max-width:$breakpoint-tablets){
        display:none;
    }
}